

mainsailos
DASHBOARD
CONSOLE
HEIGHTMAP
G-CODE FILES
SETTINGS
Machine
Interface
Config Files
Current path: /config
..
chamber.cfg	0.5 kB	2020-12-01 21:44:09
display.cfg	8.2 kB	2020-12-01 21:44:13
gcode_macros.cfg	7.8 kB	2020-12-01 21:44:16
gui.json	0.3 kB	2020-11-28 03:41:22
lcd_tweaks.cfg	3.2 kB	2020-12-01 21:44:19
mainsail.cfg	0.9 kB	2020-12-01 21:44:22
moonraker.conf	0.2 kB	2020-11-28 03:41:22
print_start_stop.cfg	0.8 kB	2020-12-01 21:44:25
printer.cfg	5.0 kB	2020-12-01 21:55:29
raspberry.cfg	1.3 kB	2020-12-01 21:44:31
Rows per page:
10
1-10 of 10
Machine Limits
Velocity
0 mm/s
Acceleration
0 mm/s²
Deceleration
NaN mm/s²
Square corner velocity
0 mm/s
Endstops
Press the sync-button on the right-bottom to load the current endstop status.

Logfiles
v0.3.0v0.9.1-61-g5773654a
printer.cfg
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
# VS.020 config

# Include the following configs
[include mainsail.cfg]
[include lcd_tweaks.cfg]
[include gcode_macros.cfg]
[include chamber.cfg]
[include display.cfg]
#[include raspberry.cfg]
#[include print_start_stop.cfg]


[stepper_x]
step_pin: PB13
dir_pin: PB12            # changed from !PB12 to PB12 to reverse stepper
enable_pin: !PB14
step_distance: 0.0125
endstop_pin: ^PC0
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 70
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
microsteps: 16
run_current: 0.8        # may need changing
hold_current: 0.4       # may need changing
interpolate: True
stealthchop_threshold: 250

# SENSORLESS HOMING
# driver_SGTHRS: 70
# diag_pin: ^PC0

[stepper_y]
step_pin: PB10
dir_pin: PB2       # changed from !PB2 to PB2 to reverse stepper
enable_pin: !PB11
step_distance: 0.0125
endstop_pin: ^PC1
position_endstop: 225
position_min: -34
position_max: 225
homing_speed: 70
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
microsteps: 16
run_current: 0.8        # may need changing
hold_current: 0.4       # may need changing
interpolate: True
stealthchop_threshold: 250
# SENSORLESS HOMING
#driver_SGTHRS: 70
#diag_pin: ^PC1

[stepper_z]
step_pin: PB0
dir_pin: PC5            # changed from !PC5 to PC5 to reverse stepper
enable_pin: !PB1
step_distance: .0125
endstop_pin: probe:z_virtual_endstop
position_endstop: 0.0
position_max: 250
homing_speed: 40
position_min: -5     

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
microsteps: 16
run_current: 0.8        # may need changing
hold_current: 0.4       # may need changing
interpolate: True
stealthchop_threshold: 250
# SENSORLESS HOMING
#driver_SGTHRS: 90
#diag_pin: ^PC2

[homing_override]
axes: z
set_position_z: 0
gcode:
    G90
    G0 Z5 F500
    #G28 X0 Y0 needs to home individually with sensorless homing
    G28 Y0
    G28 X0
    G0 X125 Y100 F9000
    G28 Z0
    G0 Z5 F500

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 25,35.0
mesh_max: 225.0,220
probe_count: 6,6
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

# P.I.N.D.A V.2 probe connected to "Z-PROBE" on SKR 
[probe]
pin: ^PC14
x_offset: 0.0
y_offset: 25.0
z_offset: 0.8         # 1.12 for txt sheet, 0.8 pei
speed: 40
samples: 3


# P.I.N.D.A V.2 probe temp support 
#[probe_temp]
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: PA1 
#t_offsets:
# 35.0, 0.0
# 40.0, 0.02
# 45.0, 0.06
# 50.0, 0.120
# 55.0, 0.2
# 60.0, 0.3

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
step_distance: 0.001216685
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
sensor_type: ATC Semitec 104GT-2
#sensor_type: EPCOS 100K B57560G104F
#sensor_type: NTC 100K beta 3950
sensor_pin: PA0
#control = pid
#pid_kp = 18.973
#pid_ki = 0.771
#pid_kd = 116.683
min_temp: 0
max_temp: 270

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
microsteps: 32
run_current: 0.45
hold_current: 0.25
interpolate: True

# Fan for cooling the electronics that starts with 
# [controller_fan my_controller_fan]
# pin: PA1                          #needs changing! The probe uses this pin
# max_power: 1.00
# kick_start_time: 0.200
# heater: heater_bed

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
#control = pid
#pid_kp = 60.695
#pid_ki = 1.073
#pid_kd = 858.069
min_temp: 10     # Only for testing!
max_temp: 130

# Part cooling fan. 
[fan]
pin: PC6

# Thermally controlled hotend fan. 
[heater_fan my_nozzle_fan]
pin: PC7
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[mcu]   
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFD6054246303741652357-if00 # VS.020

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 1000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 4.0

[static_digital_output usb_pullup_enable]
pins: !PA14

[output_pin LIGHTS]             
pin: PC12               # PC12 is the "PWR_DET" pin
value: 0
shutdown_value: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.037500, 0.020833, -0.000000, -0.000000, 0.075000, 0.162500
#*# 	0.037500, 0.062500, 0.012500, -0.054167, -0.100000, -0.116667
#*# 	-0.004167, 0.037500, -0.000000, -0.054167, -0.079167, -0.108333
#*# 	0.020833, 0.045833, -0.016667, -0.045833, -0.058333, -0.054167
#*# 	0.020833, -0.008333, -0.112500, -0.112500, -0.083333, -0.041667
#*# 	-0.054167, -0.112500, -0.150000, -0.100000, -0.100000, -0.004167
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 35.0
#*# x_count = 6
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 225.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.759
#*# pid_ki = 1.492
#*# pid_kd = 148.425
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 55.730
#*# pid_ki = 0.473
#*# pid_kd = 1640.541

# VS.020 config

# Include the following configs
[include mainsail.cfg]
[include lcd_tweaks.cfg]
[include gcode_macros.cfg]
[include chamber.cfg]
[include display.cfg]
#[include raspberry.cfg]
#[include print_start_stop.cfg]


[stepper_x]
step_pin: PB13
dir_pin: PB12            # changed from !PB12 to PB12 to reverse stepper
enable_pin: !PB14
step_distance: 0.0125
endstop_pin: ^PC0
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 70
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
microsteps: 16
run_current: 0.8        # may need changing
hold_current: 0.4       # may need changing
interpolate: True
stealthchop_threshold: 250

# SENSORLESS HOMING
# driver_SGTHRS: 70
# diag_pin: ^PC0

[stepper_y]
step_pin: PB10
dir_pin: PB2       # changed from !PB2 to PB2 to reverse stepper
enable_pin: !PB11
step_distance: 0.0125
endstop_pin: ^PC1
position_endstop: 225
position_min: -34
position_max: 225
homing_speed: 70
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
microsteps: 16
run_current: 0.8        # may need changing
hold_current: 0.4       # may need changing
interpolate: True
stealthchop_threshold: 250
# SENSORLESS HOMING
#driver_SGTHRS: 70
#diag_pin: ^PC1

[stepper_z]
step_pin: PB0
dir_pin: PC5            # changed from !PC5 to PC5 to reverse stepper
enable_pin: !PB1
step_distance: .0125
endstop_pin: probe:z_virtual_endstop
position_endstop: 0.0
position_max: 250
homing_speed: 40
position_min: -5     

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
microsteps: 16
run_current: 0.8        # may need changing
hold_current: 0.4       # may need changing
interpolate: True
stealthchop_threshold: 250
# SENSORLESS HOMING
#driver_SGTHRS: 90
#diag_pin: ^PC2

[homing_override]
axes: z
set_position_z: 0
gcode:
    G90
    G0 Z5 F500
    #G28 X0 Y0 needs to home individually with sensorless homing
    G28 Y0
    G28 X0
    G0 X125 Y100 F9000
    G28 Z0
    G0 Z5 F500

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 25,35.0
mesh_max: 225.0,220
probe_count: 6,6
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

# P.I.N.D.A V.2 probe connected to "Z-PROBE" on SKR 
[probe]
pin: ^PC14
x_offset: 0.0
y_offset: 25.0
<<<<<<< Updated upstream
z_offset: 1.13         # changed from default 1.85 
=======
z_offset: 0.8         # 1.12 for txt sheet, 0.8 pei
>>>>>>> Stashed changes
speed: 40
samples: 3


# P.I.N.D.A V.2 probe temp support 
#[probe_temp]
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: PA1 
#t_offsets:
# 35.0, 0.0
# 40.0, 0.02
# 45.0, 0.06
# 50.0, 0.120
# 55.0, 0.2
# 60.0, 0.3

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
step_distance: 0.001216685
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040
sensor_type: ATC Semitec 104GT-2
#sensor_type: EPCOS 100K B57560G104F
#sensor_type: NTC 100K beta 3950
sensor_pin: PA0
#control = pid
#pid_kp = 18.973
#pid_ki = 0.771
#pid_kd = 116.683
min_temp: 0
max_temp: 270

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
microsteps: 32
run_current: 0.45
hold_current: 0.25
interpolate: True

# Fan for cooling the electronics that starts with 
# [controller_fan my_controller_fan]
# pin: PA1                          #needs changing! The probe uses this pin
# max_power: 1.00
# kick_start_time: 0.200
# heater: heater_bed

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
#control = pid
#pid_kp = 60.695
#pid_ki = 1.073
#pid_kd = 858.069
min_temp: 10     # Only for testing!
max_temp: 130

# Part cooling fan. 
[fan]
pin: PC6

# Thermally controlled hotend fan. 
[heater_fan my_nozzle_fan]
pin: PC7
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[mcu]   
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFD6054246303741652357-if00 # VS.020

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 1000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 4.0

[static_digital_output usb_pullup_enable]
pins: !PA14

[output_pin LIGHTS]             
pin: PC12               # PC12 is the "PWR_DET" pin
value: 0
shutdown_value: 0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.033333, 0.062500, -0.012500, -0.058333, 0.025000, 0.191667
#*# 	0.058333, 0.062500, -0.012500, -0.083333, -0.095833, -0.095833
#*# 	-0.016667, 0.016667, -0.020833, -0.062500, -0.091667, -0.108333
#*# 	-0.000000, 0.016667, -0.029167, -0.054167, -0.050000, -0.020833
#*# 	-0.004167, -0.020833, -0.100000, -0.104167, -0.070833, -0.025000
#*# 	-0.070833, -0.116667, -0.129167, -0.095833, -0.091667, -0.004167
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 35.0
#*# x_count = 6
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 225.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.759
#*# pid_ki = 1.492
#*# pid_kd = 148.425
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 55.730
#*# pid_ki = 0.473
#*# pid_kd = 1640.541
<<<<<<< Updated upstream
#*#
#*# [bed_mesh 2020-12-01_105c]
#*# version = 1
#*# points =
#*# 	0.033333, 0.062500, -0.012500, -0.058333, 0.025000, 0.191667
#*# 	0.058333, 0.062500, -0.012500, -0.083333, -0.095833, -0.095833
#*# 	-0.016667, 0.016667, -0.020833, -0.062500, -0.091667, -0.108333
#*# 	-0.000000, 0.016667, -0.029167, -0.054167, -0.050000, -0.020833
#*# 	-0.004167, -0.020833, -0.100000, -0.104167, -0.070833, -0.025000
#*# 	-0.070833, -0.116667, -0.129167, -0.095833, -0.091667, -0.004167
#*# tension = 0.2
#*# min_x = 25.0
#*# algo = bicubic
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 35.0
#*# x_count = 6
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 225.0
=======

>>>>>>> Stashed changes
